.location
  .name
    = location.facility.name
  %span.city
    = location.facility.city
  %span.state
    = location.facility.state
  %span.country
    = location.facility.country
  %span.zip
    = location.facility.zip