%h2.trial-brief-title= @trial.brief_title
.trial-information
  %span.publication-status
    - if @trial.searched and @trial.articles.empty? 
      .not-found
        %b Publication status:
        We have searched PubMed and not found any publications
    - elsif !@trial.searched
      .unknown
        %b Publication status:
        We have not yet searched PubMed
    - else
      .found
        %b Publication status:
        We found the following publications: 
        - @trial.articles.each do |article|
          =link_to article.pubmed_id, "http://www.ncbi.nlm.nih.gov/pubmed/#{article.pubmed_id}"
  .history 
    %b Selected history:
    - changes = @trial.analyse_history
    - if !changes
      We have not yet analysed this trial's history for changes
    - else  
      - changes.keys.sort.each do |date|
        .change-date
        %b= date
        - changes[date].keys.each do |key|
          .change= "#{key.to_s.humanize} changed from '#{changes[date][key][:old]}' to '#{changes[date][key][:new]}'"
  .overall-status
    %b Overall status:
    =@trial.overall_status
  .first-received-date
    %b First received:
    =@trial.firstreceived_date
  .last-changed-date
    %b Last changed:
    =@trial.lastchanged_date
  .sponsor
    %b Lead sponsor:
    =@trial.lead_sponsor.agency.name
  .collaborators
    %b Collaborators:
    -@trial.collaborators.each do |collaborator|
      = collaborator.agency.name
  - if @trial.nct_id
    .nct_id
      %b ClinicalTrials.gov identifier:
      =link_to @trial.nct_id, "http://clinicaltrials.gov/ct2/show/#{@trial.nct_id}"
  .isrctn_id
    %b ISRCTN identifier:
    =@trial.isrctn_id
  .org_study_id
    %b Org. study ID:
    =@trial.org_study_id
  .source
    %b Source: 
    =@trial.source
  .summary
    %b Summary:
    =@trial.summary
  .study_type
    %b Study type:
    =@trial.study_type
  .study_design
    %b Study design:
    =@trial.study_design
  .disease_condition
    %b Disease or condition studied:
    =@trial.disease_condition
  .condition_id
    %b Condition ID:
    =@trial.condition_id
  .inclusion_criteria
    %b Inclusion criteria:
    =@trial.inclusion_criteria
  .exclusion_criteria
    %b Exclusion criteria:
    =@trial.exclusion_criteria
  .primary_outcome_measures
    %b Primary outcome measures:
    =@trial.primary_outcome_measures
  .secondary_outcome_measures
    %b Secondary outcome measures:
    =@trial.secondary_outcome_measures
  .phase
    %b Phase:
    =@trial.phase
  .start_date
    %b Start date:
    =@trial.start_date
  .completion_date
    %b Completion date:
    =@trial.completion_date 
  - if @trial.overall_official
    .overall_official
      %b Overall official:
      =@trial.overall_official.name 
      ="(#{@trial.overall_official.role})"
      - if @trial.overall_official.agency
        =@trial.overall_official.agency.name
  - if @trial.overall_contact
    .overall_contact
      %b Overall contact:
  .locations
    %b Locations:
  = render :partial => 'location', :collection => @trial.locations
  - if @trial.countries_of_recruitment
    .countries_of_recruitment
      %b Countries of recruitment:
      =@trial.countries_of_recruitment