%h2 Statistics
#content-container
  #left-hand-column
    .statistics-box
      %h3 Top 10 Sponsors of unpublished trials after three years:
      %ol 
        - @agencies.each do |agency|
          %li= "#{link_to(agency.name, agency_url(agency))} (#{link_to("#{agency.percent_unpublished_complete.round}% -  #{pluralize(agency.clinical_trials.completed.searched.three_years_old.size ,'trial')}", root_url(:agency_id => agency.id, :unpublished => true))})"
  
    .statistics-box
      %h3 Top 10 conditions with unpublished trials after three years:
      %ol
        - @conditions.each do |condition|
          %li= "#{link_to(condition.name, condition_url(condition))} (#{link_to("#{condition.percent_unpublished_complete.round}% -  #{pluralize(condition.clinical_trials.completed.searched.three_years_old.size ,'trial')}", root_url(:condition_id => condition.id, :unpublished => true))})"
  
  #right-hand-column
    .statistics-box
      %h3 Top 10 interventions with unpublished trials after three years:
      %ol
        - @interventions.each do |intervention|
          %li= "#{link_to(intervention.name, intervention_url(intervention))} (#{link_to("#{intervention.percent_unpublished_complete.round}% -  #{pluralize(intervention.clinical_trials.completed.searched.three_years_old.size ,'trial')}", root_url(:intervention_id => intervention.id, :unpublished => true))})"
    .statistics-box
      %h3 Trials by registry
      %ol
        %li= "ClinicalTrials.gov #{ClinicalTrial.ctg_count}" 
        %li= "ISRCTN #{ClinicalTrial.isrctn_count}"
        %li= "Both ClinicalTrials.gov and ISRCTN #{ClinicalTrial.ctg_and_istcrn_count}"