!!!
%html
  %head
    %title Clinical Trials
    %meta{'http-equiv' => 'content-type', :content => 'text/html'} 
    = javascript_include_tag 'http://code.jquery.com/jquery-latest.js'
    = javascript_include_tag 'http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js'
    = stylesheet_link_tag 'http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.css'
    = stylesheet_link_tag 'application'
    %link{:rel => 'shortcut icon', :href => 'favicon.ico'}
  %body
    .wrapper
      .header
        %h1
          = link_to_unless_current "TrialMinder", root_url
        %ul.nav
          %li 
          %li= link_to "Statistics", statistics_url
          %li
            %form{ :action => "search", :method => "get"}
              %input{:type => "text", :name => "q", :id => "q", :class => "text"}
              %input{:type => "submit", :value => "Search", :class => "button"}
      .content
        = yield
      .footer
      